$white: #fff;
$black: #000;
$blackPrimary: rgba(0, 0, 0, 0.85);
$blackSecondary: rgba(0, 0, 0, 0.65);
$blackTert: rgba(0, 0, 0, 0.35);
$blackQuart: rgba(0, 0, 0, 0.15);
$brownPrimary: #423c39;
$brownSecondary: #423c39a6;
$brownTert: rgba(66, 60, 57, 0.12);
$brownQuart: #f4f2f0;
$brandGreen: #d1e8cb;
$brandYellow: #f7f2dc;
$brandPink: #e8ccd1;
$brandBlue: #bad9e5;
$grayPrimary: #848382;
$graySecondary: #d7d7d7;
$grayTert: #f2f2f2;
$grayQuart: #f7f7f7;
$fontInter: "Inter", sans-serif;
$fontMain: "proximanova_regular", sans-serif;

$tablet: 992px;
$mobile: 650px;
