.services {
   padding-top: 120px; // .services__wrapper
   &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 40px;
      @media (max-width: $tablet) {
         gap: 24px;
      }
   }

   // .services__list

   &__list {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: 16px;
      @media (max-width: $tablet) {
         grid-template-columns: repeat(2, 1fr);
         gap: 15px;
      }
      @media (max-width: $mobile) {
         grid-template-columns: 1fr;
      }
   }

   // .services__item

   &__item {
      border-radius: 8px;
      height: 320px;
      position: relative;
      padding-left: 16px;
      padding-right: 16px;
      padding-bottom: 24px;
      padding-top: 24px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      @media (hover: hover) {
         &:hover {
            .services {
               &__link {
                  opacity: 0;
                  pointer-events: none;
               }
               &__text {
                  translate: 0 0;
               }
            }
         }
      }
      @media (max-width: $tablet) {
         grid-column: unset !important;
         height: 290px;
      }
   }

   // .services__image

   &__image {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   // .services__link

   &__link {
      width: fit-content;
      display: flex;
      align-items: center;
      gap: 20px;
      background-color: $white;
      font-size: 24px;
      font-weight: 500;
      color: $blackPrimary;
      height: 40px;
      padding: 0 16px;
      border-radius: 8px;
      transition: 0.4s;
      position: relative;
      z-index: 1;
   }

   // .services__text

   &__text {
      position: absolute;
      z-index: 1;
      font-size: 24px;
      font-weight: 500;
      line-height: calc(26.4 / 24);
      color: $white;
      transition: 0.4s;
      translate: 0 calc(100% + 24px);
   }
   @media (max-width: $tablet) {
      padding-top: 96px;
   }
   @media (max-width: $mobile) {
      padding-top: 64px;
   }
}
